<!-- 
    Para que este componente funcione y pueda ser llamado aquí, es necesario incluirlo en el app.moduile.ts
    (en este caso, ya que es un componente que hemos creado 'manualmente'. Si lo hubiésemos hecho con el comando 'ng g c miComponente'
    todo eso ya lo hace automáticamente Angular).
    Como esto era sólo un ejemplo para ver cómo funcionan los componentes y la modularización lo vamos a comentar.
-->
<!-- <app-contador></app-contador> -->

<!-- <app-heroe></app-heroe> -->

<!-- <app-listado></app-listado> -->

<app-main-page></app-main-page>